---
title: Horizontal Form
---
<div class="doc-home doc-content">
  <h1 class="doc-title-main"><%= data.page.title %></h1>
  <form action="" class="stylus-form-horizontal">
    <fieldset>
      <legend>Horizontal Form</legend>
      <label for="" class="stylus-label stylus-label-sm">
        <b class="stylus-label-text">Name</b>
        <input type="text" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-sm">
        <b class="stylus-label-text">Last Name</b>
        <input type="text" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-sm">
        <b class="stylus-label-text">E-mail</b>
        <input type="email" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-sm">
        <b class="stylus-label-text">Phone</b>
        <input type="tel" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-sm">
        <b class="stylus-label-text">City</b>
        <input type="tel" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-sm">
        <b class="stylus-label-text">State</b>
        <select name="" id="" class="stylus-field">
          <option value="">Select...</option>
          <option value="">SP</option>
          <option value="">RJ</option>
        </select>
      </label>
      <div class="stylus-actions-btn">
        <button class="stylus-btn-primary">Save</button>
        <button class="stylus-btn-danger">Cancel</button>
      </div>
    </fieldset>
  </form>

</div>
