---
title: Inline Form
---
<div class="doc-content">
  <h1 class="doc-title-main"><%= data.page.title %></h1>
  <div class="doc-demo">
    <%= partial 'doc/partials/inline-form' %>
  </div>
  <% code("html") do %><%= partial 'doc/partials/inline-form' %><% end %>
</div>
