---
title: Simple Form
---
<div class="doc-home doc-content">
  <h1 class="doc-title-main"><%= data.page.title %></h1>
  <form action="" class="stylus-form-inline">
    <fieldset>
      <legend>Simple example</legend>
      <label for="" class="stylus-label stylus-label-xs">
        <b class="stylus-label-text">Name</b>
        <input type="text" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-xs">
        <b class="stylus-label-text">E-mail</b>
        <input type="email" class="stylus-field">
      </label>
      <div class="stylus-actions-btn">
        <button class="stylus-btn-primary">Salvar</button>
        <button class="stylus-btn-danger">Cancelar</button>
      </div>
    </fieldset>
	</form>

  <form action="" class="stylus-form-inline">
    <fieldset>
      <legend>Example with select</legend>
      <label for="" class="stylus-label stylus-label-xs">
        <b class="stylus-label-text">Name</b>
        <input type="text" class="stylus-field">
      </label>
      <label for="" class="stylus-label stylus-label-xs">
        <b class="stylus-label-text">Gender</b>
        <select name="" id="" class="stylus-field">
          <option value="">Selecione</option>
          <option value="">Male</option>
          <option value="">Female</option>
        </select>
      </label>
      <div class="stylus-actions-btn">
        <button class="stylus-btn-primary">Salvar</button>
        <button class="stylus-btn-danger">Cancelar</button>
      </div>
    </fieldset>
  </form>
</div>
