---
title: Simple Form
---
<div class="doc-home doc-content">
  <h1 class="doc-title-main"><%= data.page.title %></h1>
  <form action="" class="stylus-form">
	  <fieldset>
	    <label for="" class="stylus-label stylus-label-sm">
	      <b class="stylus-label-text">Nome</b>
	      <input type="text" class="stylus-field">
	    </label>
	    <label for="" class="stylus-label stylus-label-sm">
	      <b class="stylus-label-text">Sobrenome</b>
	      <input type="text" class="stylus-field">
	    </label>
	    <label for="" class="stylus-label stylus-label-sm">
	      <b class="stylus-label-text">email</b>
	      <input type="email" class="stylus-field">
	    </label>
	    <label for="" class="stylus-label stylus-label-sm">
	      <b class="stylus-label-text">Telefone</b>
	      <input type="tel" class="stylus-field">
	    </label>
	    <label for="" class="stylus-label stylus-label-sm">
	      <b class="stylus-label-text">Mensagem</b>
	      <textarea name="" id="" cols="30" rows="10"></textarea>
	    </label>
	    <div class="stylus-actions-btn">
	      <button class="stylus-btn">Salvar</button>
	      <button class="stylus-btn">Cancelar</button>
	    </div>
	  </fieldset>
	</form>

</div>
