<nav class="doc-nav">
  <ul>
    <li>
      <%= nav_link('Componentes', '/components/example.html', class: 'doc-nav-link') %>
    </li>
    <li>
      <%= nav_link('Estilo', '/css/example.html', class: 'doc-nav-link') %>
    </li>
    <li>
      <%= nav_link('Interação', '/js/example.html', class: 'doc-nav-link') %>
    </li>
  </ul>
</nav>
