<form action="" class="stylus-form">
  <fieldset>
    <label for="fiedlOne" class="stylus-label">
      <b class="stylus-label-text">Name</b>
      <input type="text" value="My name is ..." class="stylus-field" disabled="disabled" readonly id="fiedlOne">
    </label>
    <label for="fieldTwo" class="stylus-label">
      <b class="stylus-label-text">Last Name</b>
      <input type="text" class="stylus-field" value="My Last name is ..." disabled="disabled" readonly id="fieldTwo">
    </label>
    <label for="fieldThree" class="stylus-label">
      <b class="stylus-label-text">E-mail</b>
      <input type="email" class="stylus-field" value="xxx@testing.com" disabled="disabled" readonly id="fieldThree">
    </label>
    <label for="fieldSix" class="stylus-label">
      <b class="stylus-label-text">Country</b>
      <div class="stylus-select">
        <select name="" id="fieldSix" class="stylus-field" disabled="disabled" readonly>
          <option value="">Select...</option>
          <option value="">Country One</option>
          <option value="">Country Two</option>
        </select>
      </div>
    </label>
    <div class="stylus-actions-btn">
      <button class="stylus-btn">Save</button>
      <button class="stylus-btn">Cancel</button>
    </div>
  </fieldset>
</form>
