
<form action="" class="rf-form-horizontal">
  <fieldset>
    <legend>Horizontal Form</legend>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Nome</b>
      <input type="text" class="rf-field" name="nome1">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Sobrenome</b>
      <input type="text" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">email</b>
      <input type="email" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Telefone</b>
      <input type="tel" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Cidade</b>
      <input type="tel" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Estado</b>
      <select name="" id="" class="rf-field">
        <option value="">Selecione</option>
        <option value="">SP</option>
        <option value="">RJ</option>
      </select>
    </label>
    <div class="rf-actions-btn">
      <button class="rf-btn-primary">Salvar</button>
      <button class="rf-btn-danger">Cancelar</button>
    </div>
  </fieldset>
</form>
