
<form action="" class="rf-form-inline">
  <fieldset>
    <legend>Inline Form</legend>
    <label for="" class="rf-label rf-label-xs">
      <b class="rf-label-text">Nome</b>
      <input type="text" class="rf-field" name="nome1">
    </label>
    <label for="" class="rf-label rf-label-xs">
      <b class="rf-label-text">Email</b>
      <input type="email" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-xs">
      <b class="rf-label-text">Gender</b>
      <select name="" id="" class="rf-field">
        <option value="">Selecione</option>
        <option value="">Male</option>
        <option value="">Female</option>
      </select>
    </label>
    <div class="rf-actions-btn">
      <button class="rf-btn-primary">Salvar</button>
      <button class="rf-btn-danger">Cancelar</button>
    </div>
  </fieldset>
</form>
