<form action="" class="stylus-form">
  <fieldset>
    <label for="fieldOne" class="stylus-label stylus-label-sm">
      <b class="stylus-label-text">Name</b>
      <input type="text" class="stylus-field" id="fieldOne">
    </label>
    <label for="fieldTwo" class="stylus-label stylus-label-sm">
      <b class="stylus-label-text">Last Name</b>
      <input type="text" class="stylus-field" id="fieldTwo">
    </label>
    <label for="fiedlThree" class="stylus-label stylus-label-sm">
      <b class="stylus-label-text">E-mail</b>
      <input type="email" class="stylus-field" id="fiedlThree">
    </label>
    <label for="fieldFour" class="stylus-label stylus-label-sm">
      <b class="stylus-label-text">Phone</b>
      <input type="tel" class="stylus-field" id="fieldFour">
    </label>
    <label for="fieldFive" class="stylus-label stylus-label-sm">
      <b class="stylus-label-text">Message</b>
      <textarea id="fieldFive" cols="30" rows="10"></textarea>
    </label>
    <div class="stylus-actions-btn">
      <button class="stylus-btn">Save</button>
      <button class="stylus-btn">Cancel</button>
    </div>
  </fieldset>
</form>
