<form action="" class="rf-form">
  <fieldset>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Nome</b>
      <input type="text" class="rf-field" name="nome1">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Sobrenome</b>
      <input type="text" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">email</b>
      <input type="email" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Telefone</b>
      <input type="tel" class="rf-field">
    </label>
    <label for="" class="rf-label rf-label-sm">
      <b class="rf-label-text">Mensagem</b>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </label>
    <div class="rf-actions-btn">
      <button class="rf-btn">Salvar</button>
      <button class="rf-btn">Cancelar</button>
    </div>
  </fieldset>
</form>
